body {
    background: linear-gradient(to right, #eee3e3, #333333);
    font-family: Arial, sans-serif;
}

.container {
    width: 70%;
    height: 70%;
    margin-right: 50px;
    margin: auto;
    background: #333;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

h1 {
    color: #fff;
}

img {
    width: 200px;
    border-radius: 50%;
    margin: 15px 0;
    box-shadow:  0px 8px 15px rgba(247, 218, 2, 0.786);;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #ccc;
}

.quote {
    font-style: italic;
    color: #00ffff;
    margin-top: 15px;
}
h3{
    color: #ffcccc;
}
h5{
    color: rgb(18, 244, 6);
    text-align: center;
}
.Awards{
    color: aliceblue;
}
